body {
  padding: 50px;
  font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
  justify-content: center;
  align-items: center;
  background-color: bisque;
}

a {
  color: #0048ff;
}

.delete-form {
  display: inline-block;
  margin-right: 10px;
}
    
.delete-form button {
  color: red;
}
    
li {
  list-style: none;
}